<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <style>
        h2 { 
            color: red;
        }
    </style>
</head>
<body>
    <div>
    <p>
			{{fullName}}様
			<br />
			xxx会社の本登録が完了いたしました。
			<br />
			<a href="{{URI}}/profile">こちら</a
			>からプロフィールなどの設定を変更が可能です。
			<br />
			xxx会社
		</p>
        <img width="100%" height="100" src="https://source.unsplash.com/random"></img>
    </div>
</body>
</html>